<header class="header bg-primary text-light pt-1 fixed-top" th:fragment="header(title)">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/}" class="nav-item nav-link" th:classappend="${title == 'Home'} ? ' active'">Home</a>
                <a th:href="@{/#categories-section}" class="nav-item nav-link">Categories</a>
                <a th:href="@{/#courses-section}" class="nav-item nav-link" th:classappend="${title == 'Courses'} ? ' active'">Courses</a>
                <a th:href="@{/#courses-section}" class="nav-item nav-link">Đăng ký</a>
                <a th:href="@{/students}" class="nav-item nav-link" th:classappend="${title == 'Students'} ? ' active'">Học viên</a>
                <a th:href="@{/#courses-section}" class="nav-item nav-link">Thanh toán</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a th:href="@{/#java-courses-section}" class="dropdown-item">Java Courses</a>
                        <a th:href="@{/#testimonial-section}" class="dropdown-item">Testimonial</a>
                        <a th:href="@{/login}" class="dropdown-item">Login</a>
                    </div>
                </div>
                <a th:href="@{/#contact-section}" class="nav-item nav-link">Contact</a>
            </div>
            <a th:href="@{/#courses-section}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
</header>
