<header class="header bg-primary text-light pt-1 fixed-top" th:fragment="header">
    <div class="container-fluid h-100">
        <div class="h-100 d-flex flex-row">
            <div class="col-2 pr-0 d-flex align-items-center" style="width:110px">
                <!-- ロゴ -->
                <img th:src="@{/images/typ3.png}" alt="ロゴ" class="p-1 bg-light" width="85px" height="90px"/>
            </div>
            <div class="col-8 pt-3 pl-0 pr-0 h-100">
                <div class="container-fluid h-100">
                    <div class="row h-25 d-flex align-items-center justify-content-center" th:classappend="${#authorization.expression('isAuthenticated()')} ? '' : 'pt-2'">
                        <!-- メニュー画面タイトル -->
                        <h4 class="bold text-center w-100" th:text="${title}"></h4>
                    </div>
                    <!-- ログイン済みの場合のみメニュー表示 -->
                    <div class="row h-75 d-flex align-items-center justify-content-center" sec:authorize="isAuthenticated()">
                        <!-- メニュー表示部 -->
                        <ul class="nav nav-tabs navmenu">
                            <li class="nav-item">
                                <a class="nav-link text-light pb-0 pt-2 pr-2"
                                   th:classappend="${currentUri.startsWith('/top') ? 'active' : ''}"
                                   th:href="@{/top}">トップページ</a>
                            </li>
                            <th:block sec:authorize="hasAnyRole('CONSTRUCTION_USER', 'CONSTRUCTION_ADMIN')">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/site') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">現場情報管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/site/registration') ? 'active-item' : ''}"
                                           th:href="@{/site/registration}">現場登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/site/search-list') ? 'active-item' : ''}"
                                           th:href="@{/site/search-list}">現場検索</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${  currentUri.equals('/millsheet/search-list')
                                                        || currentUri.equals('/millsheet-reg-cmp-conf/search-list')
                                                        || currentUri.equals('/millsheet-download')
                                                        ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">ミルシート管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet/search-list') ? 'active-item' : ''}"
                                           th:href="@{/millsheet/search-list}">ミルシート検索</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet-reg-cmp-conf/search-list') ? 'active-item' : ''}"
                                           th:href="@{/millsheet-reg-cmp-conf/search-list}">ミルシート登録完了検索/一覧</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet-download') ? 'active-item' : ''}"
                                           th:href="@{/millsheet-download}">ミルシート一括ダウンロード</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.equals('/millsheet-summary/search') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">ミルシート情報集計</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet-summary/search') ? 'active-item' : ''}"
                                           th:href="@{/millsheet-summary/search}">ミルシート情報集計選択</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/deliverylist') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">納品一覧表管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/deliverylist/search-list') ? 'active-item' : ''}"
                                           th:href="@{/deliverylist/search-list}">納品一覧表検索</a>
                                    </div>
                                </li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('MILLSHEET_USER', 'MILLSHEET_ADMIN')">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/millsheet') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">ミルシート管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet/registration') ? 'active-item' : ''}"
                                            th:href="@{/millsheet/registration}">ミルシート登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet/search-list') ? 'active-item' : ''}"
                                            th:href="@{/millsheet/search-list}">ミルシート検索</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/millsheet-reg-cmp') ? 'active-item' : ''}"
                                            th:href="@{/millsheet-reg-cmp}">ミルシート登録完了</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       th:classappend="${currentUri.startsWith('/deliverylist') ? 'active' : ''}"
                                       aria-expanded="false">納品一覧表管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/deliverylist/registration') ? 'active-item' : ''}"
                                           th:href="@{/deliverylist/registration}">納品一覧表登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/deliverylist/search-list') ? 'active-item' : ''}"
                                           th:href="@{/deliverylist/search-list}">納品一覧表検索</a>
                                    </div>
                                </li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('OPERATOR')">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/notification') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">お知らせ情報管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/notification/registration') ? 'active-item' : ''}"
                                           th:href="@{/notification/registration}">お知らせ登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/notification/search-list') ? 'active-item' : ''}"
                                           th:href="@{/notification/search-list}">お知らせ検索</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       th:classappend="${currentUri.startsWith('/service-user') ? 'active' : ''}"
                                       aria-expanded="false">サービス利用者管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/service-user/registration') ? 'active-item' : ''}"
                                           th:href="@{/service-user/registration}">サービス利用者情報登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/service-user/search-list') ? 'active-item' : ''}"
                                           th:href="@{/service-user/search-list}">サービス利用者情報検索</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/user-info') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">運用ユーザ管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/user-info/registration') ? 'active-item' : ''}"
                                           th:href="@{/user-info/registration}">利用者情報登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/user-info/search-list') ? 'active-item' : ''}"
                                           th:href="@{/user-info/search-list}">利用者情報検索</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/app') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">サービス加入案内</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/app/url-creation') ? 'active-item' : ''}"
                                           th:href="@{/app/url-creation}">URL生成</a>
                                    </div>
                                </li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('MILLSHEET_ADMIN','CONSTRUCTION_ADMIN')">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/company-info') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">企業情報管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/company-info/modification') ? 'active-item' : ''}"
                                           th:href="@{/company-info/modification}">企業情報変更</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light pb-0 pt-2 pr-2"
                                       th:classappend="${currentUri.startsWith('/user-info') ? 'active' : ''}"
                                       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                       aria-expanded="false">自社利用者管理</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/user-info/registration') ? 'active-item' : ''}"
                                           th:href="@{/user-info/registration}">利用者情報登録</a>
                                        <a class="dropdown-item" th:classappend="${currentUri.equals('/user-info/search-list') ? 'active-item' : ''}"
                                           th:href="@{/user-info/search-list}">利用者情報検索</a>
                                    </div>
                                </li>
                            </th:block>

                            <!-- 共通 -->
                            <li class="nav-item">
                                <a style="background:transparent;cursor:pointer;"
                                   class="nav-link text-light pb-0 pt-2 pr-2"
                                   target="_blank" th:href="@{/manual/操作マニュアル}">操作マニュアル </a>
                            </li>

                            <li class="nav-item">
                                <form th:action="@{/logout}" method="post" class="d-inline">
                                    <button type="submit" class="nav-link text-light pb-0 pt-2 pr-2" style="background:transparent;cursor:pointer;">ログアウト</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ログイン済みの場合のみユーザ情報表示 -->
            <div class="col-2 d-flex align-items-center" sec:authorize="isAuthenticated()">
                <div class="container-fluid">
                    <!-- ユーザ情報表示部 -->
                    <div class="row">【企業名】<span th:text="${companyName}"></span></div>
                    <div class="row">【ユーザ名】<span th:text="${userName}"></span></div>
                </div>
            </div>
        </div>
    </div>
</header>


